<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body { font-size: 1.3em; }</style>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lunchItems">
             Note: We do NOT consider any empty item, i.e., `, ,` as an item towards to the count.
         </div>
         <div class="form-group">
             <button ng-click="checkCount()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{sayMessage}}
         </div>
   </div>

</body>
</html>
